[Desktop Entry]
Encoding=UTF-8
Name=Link to GPy.kern.exponential - Nullege Python Samples
Type=Link
URL=http://nullege.com/codes/search/GPy.kern.exponential
Icon=text-html
