[Desktop Entry]
Encoding=UTF-8
Name=Link to How can matplotlib 2D patches be transformed to 3D with arbitrary normals? - Stack Overflow
Type=Link
URL=https://stackoverflow.com/questions/18228966/how-can-matplotlib-2d-patches-be-transformed-to-3d-with-arbitrary-normals
Icon=text-html
